@model List<MusicAlbums.Models.Song>
<link rel="stylesheet" href="~/css/index.css" />
@{
    int page = ViewBag.Page;
    int seed = ViewBag.Seed;
    string location = ViewBag.Location;
    string mode = ViewBag.Mode;
    double avgLikes = Convert.ToDouble(ViewBag.AvgLikes); ;
    int start = Math.Max(1, page - 1);
    int end = page + 1;
}

<div class="toolbar">
    <div class="mode-switch">

        <div class="mode-icons">
            <span>📊</span>
            <span>📜</span>
        </div>

        <label class="switch">
            <input type="checkbox" id="modeToggle" @(ViewBag.Mode == "infinite" ? "checked" : "")>
            <span class="slider"></span>
        </label>

    </div>

    <div class="likes-control">
        <label>
            ❤️ Likes:
            <span id="likesValue">@ViewBag.AvgLikes.ToString(System.Globalization.CultureInfo.InvariantCulture)</span>
        </label>

        <input type="range"
               id="likesSlider"
               min="0"
               max="10"
               step="0.1"
               list="tickmarks"
               value="@ViewBag.AvgLikes.ToString(System.Globalization.CultureInfo.InvariantCulture)"/>

        <datalist id="tickmarks">
            <option value="0"></option>
            <option value="1"></option>
            <option value="2"></option>
            <option value="3"></option>
            <option value="4"></option>
            <option value="5"></option>
            <option value="6"></option>
            <option value="7"></option>
            <option value="8"></option>
            <option value="9"></option>
            <option value="10"></option>
        </datalist>
    </div>
    <div>
        <label>Language</label>
        <select id="regionSelect">
            @if (ViewBag.Location == "ru")
            { 
                <option value="en_US">
                    English (US)
                </option>
                <option value="ru" selected>
                    Russian
                </option>
            }
            else
            {
                <option value="en_US" selected>
                    English (US)
                </option>
                <option value="ru">
                    Russian
                </option>
            }
        </select>
    </div>
    <div class="control">
        <label>Seed</label>
        <input type="number" id="seedInput" value="@ViewBag.Seed" />
        <button id="randomSeed">🎲</button>
    </div>

</div>
@if (ViewBag.Mode == "table")
{
    <table style="width: 100%">
        <thead>
            <tr>
                <th>№</th>
                <th></th>
                <th>Title</th>
                <th>Artist</th>
                <th>Album</th>
                <th>Genre</th>
                <th>Likes</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var song in Model)
            {
                <tr>
                    <td>@song.Index</td>
                    <td><img src="@song.CoverUrl" style="margin:5px; height: 8vh;width: auto;border-radius:10px" /></td>
                    <td>@song.Title</td>
                    <td>@song.Artist</td>
                    <td>@song.Album</td>
                    <td>@song.Genre</td>
                    <td>@song.Likes </td>
                    <td><audio controls src="@song.MusicUrl"></audio></td>
                </tr>

            }
        </tbody>
    </table>
    <div style="margin-top:30px; display:flex; align-items:center; gap:10px; font-size:18px;">

        @if (page > 1)
        {
            <a href="/?page=@(page - 1)&seed=@seed&mode=$@mode&location=$@location&avgLikes=$@avgLikes.ToString(System.Globalization.CultureInfo.InvariantCulture)" style="text-decoration:none;color:black;">
                ←
            </a>
        }

        @* страницы *@
        @for (int i = start; i <= end; i++)
        {
            <a href="/?page=@i&seed=@seed&mode=@mode&location=@location&avgLikes=@avgLikes.ToString(System.Globalization.CultureInfo.InvariantCulture)"
               style="
                        text-decoration:none;
                        padding:6px 10px;
                        border-radius:6px;
                        @(i == page ? "background:#333;color:white;" : "color:black;")
                   ">
                @i
            </a>
        }

        <a href="/?page=@(page + 1)&seed=@seed&mode=@mode&location=@location&avgLikes=@avgLikes.ToString(System.Globalization.CultureInfo.InvariantCulture)" style="text-decoration:none;color:black;">
            →
        </a>
    </div>
}

else
{
    <table style="width: 100%">
        <thead>
            <tr>
                <th>№</th>
                <th></th>
                <th>Title</th>
                <th>Artist</th>
                <th>Album</th>
                <th>Genre</th>
                <th>Likes</th>
                <th></th>
            </tr>
        </thead>

        <tbody id="song-container">
            @foreach (var song in Model)
            {
                <tr>
                    <td>@song.Index</td>
                    <td><img src="@song.CoverUrl" style="margin:5px; height: 8vh;width: auto;border-radius:10px" /></td>
                    <td>@song.Title</td>
                    <td>@song.Artist</td>
                    <td>@song.Album</td>
                    <td>@song.Genre</td>
                    <td>@song.Likes</td>
                    <td><audio controls src="@song.MusicUrl"></audio></td>
                </tr>

            }
        </tbody>
    </table>
} 


<script>
    const slider = document.getElementById("likesSlider");
    const label = document.getElementById("likesValue");

    const modeToggle = document.getElementById("modeToggle");

    modeToggle.addEventListener("change", () => {
    const mode = modeToggle.checked ? "infinite" : "table";

    const seed = seedInput.value;
    const location = regionSelect.value;
    const avgLikes = parseFloat(slider.value.replace(",", "."));
    const userLocation = "@ViewBag.Location";

    window.location.href =
        `/?page=1&seed=${seed}&mode=${mode}&location=${location}&avgLikes=${avgLikes}`;
    });
</script>
@if (ViewBag.Mode == "infinite")
{
    <script>
        let loading = false;
        let page = @ViewBag.Page;
        let seed = @ViewBag.Seed;
        let mode = "@ViewBag.Mode";
        let userLocation = "@ViewBag.Location";

        window.addEventListener("scroll", async () => {
            if (loading) return;

            if (window.innerHeight + window.scrollY >= document.documentElement.scrollHeight - 200) {
                loading = true;
                page++;
                const avgLikes = parseFloat(document.getElementById("likesSlider").value.replace(",", "."));
                document.getElementById("likesValue").textContent = avgLikes;
                const res = await fetch(`/load-more?page=${page}&seed=${seed}&mode=${mode}&location=${userLocation}&avgLikes=${avgLikes}`);
                const html = await res.text();

                document.getElementById("song-container")
                    .insertAdjacentHTML("beforeend", html);

                loading = false;
            }
        });
    </script>
}
<script src="~/js/index.js"></script>
<script>
    const regionSelect = document.getElementById("regionSelect");
    const seedInput = document.getElementById("seedInput");
    const randomSeedBtn = document.getElementById("randomSeed");


    //единая функция обновления
    function reloadPage() {
        const seed = seedInput.value;
        const location = regionSelect.value;
        const avgLikes = parseFloat(slider.value.replace(",", "."));
        const mode = modeToggle.checked ? "infinite" : "table";

        window.location.href =
            `/?page=1&seed=${seed}&mode=${mode}&location=${location}&avgLikes=${avgLikes}`;
    }

    //смена языка
    regionSelect.addEventListener("change", reloadPage);

    //изменение seed
    seedInput.addEventListener("change", reloadPage);

    //random seed
    randomSeedBtn.addEventListener("click", () => {
        seedInput.value = Math.floor(Math.random() * 100000);
        reloadPage();
    });

    //лайки
    slider.addEventListener("input", () => {
        label.textContent = Number(slider.value).toFixed(1);
        reloadPage();
    });

    regionSelect.value = "@ViewBag.Location";
</script>